.fulfilled {
  text-decoration: line-through;
}

.full {
  color: #fff;
}

#heart1,
#heart2,
#heart3,
#heart4,
#heart5 {
  margin-top: 9px;
  margin-left: 5px;
}


#password-strength {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#password-strength span {
  margin-right: 168px;
  margin-top: 3px;
}